.wrapper {
    position: relative;
    width: 80vw;
    display: -webkit-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    height: 100vh;
}

.newElem {
    outline: none;
    border: none;
    background-color: white;
}

.fixedElement {
    position: fixed;
    top: 40px;
    left: 60px;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    width: 40px;
    padding: 15px 5px;
    border-radius: 20px;
}

.newElem img {
    cursor: pointer;
    transform: rotate(45deg);
    opacity: 0.6;
    color: gray;
}

.newElem::before {
    position: absolute;
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid rgba(10, 24, 77, 0.5);
    margin-top: -4px;
    margin-left: -4px;
}

.colorChange {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: #333;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    left: 3px;
    position: relative;
    margin-top: 10px;

}

.darkWrapper .newElem {
    background-color: #111;
}

.darkWrapper .newElem img {
    opacity: 1;
}

.darkWrapper .newElem::before {
    border: 2px solid #333;
}

.darkWrapper .fixedElement {
    background-color: #111;
}

.darkWrapper .colorChange {
    background-color: white;
}